* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

/* started Img slider  */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: -20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 1px solid black;
  align-items: center;
}

.active {
  background-color: transparent;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}
/* end img slider part */

/* section des container */
.section-des-container {
  width: 70%;
  margin: auto;
  padding: 10px 5%;
}
.section-heading-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.section-des-heading,
.section-des-logo {
  padding: 15px;
  width: 50%;
}

.section-des-heading {
  border-bottom: 1px solid #d6d6d68e;
}

.section-des-heading > h2 {
  color: #2a2a2a;
  font-weight: 500;
}
.section-des-heading > h3 {
  color: #a3baca;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.section-description {
  color: #727272;
  line-height: 1.9em;
  margin: 0 0 10px;
  font-size: 14px;
}

/* products section */
.products-container {
  text-align: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.products-heading > h2 {
  color: #2a2a2a;
  font-weight: 500;
}
.products-heading > h3 {
  color: #a3baca;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.products-card {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.prod-card-div {
  height: 250px;
  width: 220px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.prod-title {
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
}

.products-view-all {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #2a2a2a;
}

.products-view-all:hover {
  color: #016be1;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .section-des-container {
    width: 90%;
  }

  .section-des-heading > h2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .section-des-container {
    width: 90%;
  }

  .section-des-heading > h2 {
    font-size: 20px;
  }

  .section-des-logo > img {
    width: 100%;
  }

  .products-card {
    grid-template-columns: repeat(3, 200px);
  }
}

@media only screen and (max-width: 800px) {
  .section-des-container {
    width: 100%;
  }
  .section-heading-logo {
    display: flex;
    flex-direction: column;
  }
  .section-des-logo > img {
    width: 100%;
  }
  .section-des-heading,
  .section-des-logo {
    padding: 15px;
    width: 100%;
  }
  .section-description {
    font-size: 12px;
  }
  .products-card {
    grid-template-columns: repeat(2, 200px);
  }
}

@media only screen and (max-width: 500px) {
  .products-card {
    grid-template-columns: repeat(1, 200px);
  }
}
